@charset "utf-8";
/* CSS Document */

.cakebox-widget .btn_top { }
.cakebox-widget .btn_top>div { padding-right: 0px; padding-left: 0px; }
.cakebox-widget .btn_top>div select { border-radius: 0px 0px 0px 0px; border-top: 0px; border-left: 0px; border-right: 1px solid #ddd; padding: 7px 12px; }
.cakebox-widget .btn_top>div:first-child { padding-right: 0px; padding-left: 10px; }
.cakebox-widget .btn_top>div:first-child select { border-radius: 3px 0px 0px 0px; border-top: 0px; border-left: 0px; }
.cakebox-widget .btn_top>div:last-child { padding-left: 0px; padding-right: 10px; }
.cakebox-widget .btn_top>div:last-child select { border-radius: 0px 3px 0px 0px; border-top: 0px; border-right: 0px; }

.cakebox-widget .panel.panel-collapsed .btn_top { display: none; }
.cakebox-widget .panel-heading { padding-top: 0px !important; padding-left: 0px !important; padding-right: 0px !important; min-height: 50px; }

.cakebox-widget .heading-elements { top: 0px; right: 10px; margin-top: 3px; }
.cakebox-widget .box_sm .heading-elements { right: 5px; }

.cakebox-widget h3.handle { cursor: move; padding: 5px 0px; margin-top: 5px; position: relative; }
.cakebox-widget h3.handle:hover { background-color: rgba(166,166,166,0.3); border-radius: 10px; padding: 5px; }
.cakebox-widget h3.handle:hover div { background-color: transparent; }

.cp_branch1, .cp_branch2 { display: none; }

.cakebox-widget .demography-icon { font-size: 25px; text-align: center; padding-top: 90px; }
.cakebox-widget #icon-man, .cakebox-widget #icon-woman { font-size: 120px; margin-top: 25px; border-radius: 10px; padding: 10px; }
.cakebox-widget #icon-man { color: #0072bc; }
.cakebox-widget #icon-woman { color: #f49ac1; }
.cakebox-widget #icon-man.active, .cakebox-widget #icon-woman.active { box-shadow: 0px 0px 8px rgba(0,0,0,0.3); }

.cakebox-widget #male_percentage, .cakebox-widget #female_percentage { font-size: 16px; }

.content-layout>div { /*float: left; width: 49.62%;*/ padding: 5px; min-height: 570px; margin-bottom: 10px; }
.content-layout>div:nth-child(2n) { /*margin-right: 5px;*/ }
.content-layout>div:nth-child(2n-1) { /*margin-left: 5px;*/ }
.content-layout>div:first-child { width: 100%; /*margin-left: 0px; margin-right: 0px;*/ }

.content-layout>div #icon-man, 
.content-layout>div #icon-woman { font-size: 60px; }
.content-layout>div .demography-icon { font-size: 15px; }

.content-layout>div:first-child #icon-man, 
.content-layout>div:first-child #icon-woman { font-size: 120px; }
.content-layout>div:first-child .demography-icon { font-size: 25px; }

.content-layout .auto-size { width: 100% !important; height: auto !important; top: inherit !important; left: inherit !important; right: inherit !important; bottom: inherit !important; }

.content-layout.dragging>div { border: 1px dashed #E4913F; background-color: rgba(248,229,130,0.3); }

.ui-state-highlight { border-radius: 15px; border: 1px dashed #E4913F; background-color: rgba(248,229,130,0.3); }

.ui-draggable { width: 100%; }
.ui-draggable-dragging { z-index: 100; width: 500px; }

.widgets_box { position: fixed; width: 230px; height: 60px; top: 55px; left: 15px; z-index: 100; padding: 5px; border-radius: 5px; background-color: rgba(255,255,255,0.8); border: 1px solid #eee; }
.widgets_box>a { width: 30px; height: 30px; margin: 1px; border: 1px solid #B7B7B7; border-radius: 5px; display: inline-block; font-size: 16px; text-align: center; background-color: #efefef; line-height: 30px; color: #000000; }
.widgets_box>a:hover { background-color: #60CD95; color: #1D6E14; }
.widgets_box>a.disabled { background-color: #B0B0B0; color: #ddd; }
.widgets_box .title { font-weight: bold; font-size: 10px; }

.chart-container { position: relative; }
.chart-container .chart-loading { position: absolute; left: 50%; padding: 10px; margin: 30px auto; display: none; z-index: 100; width: 75px; height: 50px; text-align: center; }
.chart-container .chart-loading>div { position: relative; left: -50%; }

.content-fixed-height { max-height: 430px; }

@media (max-width: 1350px) {
	.content-layout>div { width: 100%; }
	.content-layout>div #icon-man, 
	.content-layout>div #icon-woman { font-size: 100px; }	
}